In [1]:
import os

def get_method_name(log_path: str) -> str:
    file_name = os.path.splitext(os.path.basename(log_path))[0]
    file_name_split = file_name.split('_')
    
    if file_name_split[4] == 'EDF':
        method_name = 'EDF'
    else:
        method_name = file_name_split[1]

    return method_name

In [2]:
from typing import Dict

def get_classification(log: Dict) -> str:
    if 'deadline_miss' in log.keys() and 'early_detection' in log.keys():
        classification = 'TP'
    elif 'deadline_miss' not in log.keys() and 'early_detection' in log.keys():
        classification = 'FP'
    elif 'deadline_miss' in log.keys() and 'early_detection' not in log.keys():
        classification = 'FN'
    elif 'deadline_miss' not in log.keys() and 'early_detection' not in log.keys():
        classification = 'TN'

    return classification

# Total utilization varied

In [3]:
def get_utilization(log_path: str) -> float:
    file_name = os.path.splitext(os.path.basename(log_path))[0]
    utilization_str = file_name.split('_')[-1]
    utilization = float(utilization_str.split('=')[1])

    return round(utilization*100, 1)

In [4]:
import glob
import pandas as pd
import yaml
import numpy as np

METHOD_NAMES = ['proposed', 'Igarashi', 'Saidi', 'EDF']

utilization_df_dict = {}
for method in METHOD_NAMES:
    utilization_df_dict[method] = pd.DataFrame(index=['TP Ratio', 'FN Ratio', 'TN Ratio', 'FP Ratio'],
                                               columns=[str(round(c, 1)) for c in np.arange(60.0, 100.0, 0.1)])
    utilization_df_dict[method].fillna(0, inplace=True)

In [5]:
utilization_df_dict['proposed']

,60.0,60.1,60.2,60.3,60.4,60.5,60.6,60.7,60.8,60.9,...,99.0,99.1,99.2,99.3,99.4,99.5,99.6,99.7,99.8,99.9
TP Ratio,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FN Ratio,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
TN Ratio,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FP Ratio,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
log_paths = glob.glob("./results/utilization_varied/*.yaml")

for log_path in log_paths:
    with open(log_path, "r") as f:
        log = yaml.safe_load(f)
    
    method_name = get_method_name(log_path)
    utilization = get_utilization(log_path)
    classification = get_classification(log)
    utilization_df_dict[method_name].at[f'{classification} Ratio', str(utilization)] += 1

In [7]:
for method in METHOD_NAMES:
    utilization_df_dict[method] = \
        utilization_df_dict[method].div(utilization_df_dict[method].sum(axis=0), axis=1)

In [8]:
utilization_df_dict['proposed'].to_csv('./proposed.csv')

In [9]:
utilization_df_dict['Igarashi']

,60.0,60.1,60.2,60.3,60.4,60.5,60.6,60.7,60.8,60.9,...,99.0,99.1,99.2,99.3,99.4,99.5,99.6,99.7,99.8,99.9
TP Ratio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FN Ratio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TN Ratio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FP Ratio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
utilization_df_dict['Saidi']

,60.0,60.1,60.2,60.3,60.4,60.5,60.6,60.7,60.8,60.9,...,99.0,99.1,99.2,99.3,99.4,99.5,99.6,99.7,99.8,99.9
TP Ratio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FN Ratio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TN Ratio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FP Ratio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
utilization_df_dict['EDF']

,60.0,60.1,60.2,60.3,60.4,60.5,60.6,60.7,60.8,60.9,...,99.0,99.1,99.2,99.3,99.4,99.5,99.6,99.7,99.8,99.9
TP Ratio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FN Ratio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TN Ratio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FP Ratio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Alpha varied

In [12]:
def get_alpha(log_path: str) -> float:
    file_name = os.path.splitext(os.path.basename(log_path))[0]
    alpha_str = file_name.split('_')[2]
    alpha = float(alpha_str.split('=')[1])

    return round(alpha, 1)

In [15]:
import glob
import pandas as pd
import yaml
import numpy as np

METHOD_NAMES = ['proposed', 'Igarashi', 'Saidi', 'EDF']

alpha_df_dict = {}
for method in METHOD_NAMES:
    alpha_df_dict[method] = pd.DataFrame(index=['TP Ratio', 'FN Ratio', 'TN Ratio', 'FP Ratio'],
                                         columns=[str(round(c, 1)) for c in np.arange(1.6, 2.2, 0.1)]) # TODO
    alpha_df_dict[method].fillna(0, inplace=True)

In [16]:
log_paths = glob.glob("./results/alpha_varied/*.yaml")

for log_path in log_paths:
    with open(log_path, "r") as f:
        log = yaml.safe_load(f)
    
    method_name = get_method_name(log_path)
    alpha = get_alpha(log_path)
    classification = get_classification(log)
    alpha_df_dict[method_name].at[f'{classification} Ratio', str(round(alpha, 1))] += 1

KeyError: '1.4'

In [ ]:
for method in METHOD_NAMES:
    alpha_df_dict[method] = \
        alpha_df_dict[method].div(alpha_df_dict[method].sum(axis=0), axis=1)

In [ ]:
alpha_df_dict['proposed']

          1.4  1.5  1.6  1.7  1.8  1.9  2.0
TP Ratio  1.0  1.0  1.0  1.0  1.0  1.0  1.0
FN Ratio  0.0  0.0  0.0  0.0  0.0  0.0  0.0
TN Ratio  0.0  0.0  0.0  0.0  0.0  0.0  0.0
FP Ratio  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [ ]:
alpha_df_dict['Igarashi']

          1.4  1.5  1.6  1.7  1.8  1.9  2.0
TP Ratio  1.0  1.0  1.0  1.0  1.0  1.0  1.0
FN Ratio  0.0  0.0  0.0  0.0  0.0  0.0  0.0
TN Ratio  0.0  0.0  0.0  0.0  0.0  0.0  0.0
FP Ratio  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [ ]:
alpha_df_dict['Saidi']

          1.4  1.5  1.6  1.7  1.8  1.9  2.0
TP Ratio  1.0  1.0  1.0  1.0  1.0  1.0  1.0
FN Ratio  0.0  0.0  0.0  0.0  0.0  0.0  0.0
TN Ratio  0.0  0.0  0.0  0.0  0.0  0.0  0.0
FP Ratio  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [17]:
alpha_df_dict['EDF']

          1.6  1.7  1.8  1.9  2.0  2.1  2.2
TP Ratio    0    0    0    0    0    0    0
FN Ratio    0    0    0    0    0    0    0
TN Ratio    0    0    0    0    0    0    0
FP Ratio    0    0    0    0    0    0    0

# Earlier time

In [18]:
earlier_time_dict = {'proposed': [],
                     'Igarashi': [],
                     'Saidi': [],
                     'EDF': []}

log_paths = glob.glob("./results/utilization_varied/*.yaml") + glob.glob("./results/alpha_varied/*.yaml")
for log_path in log_paths:
    with open(log_path, "r") as f:
        log = yaml.safe_load(f)

    if get_classification(log) == 'TP':
        earlier_time = (log['deadline_miss']['deadline_miss_time']
                        - log['early_detection']['detection_time'])
        earlier_time_dict[get_method_name(log_path)].append(earlier_time)

In [19]:
METHOD_NAMES = ['proposed', 'Igarashi', 'Saidi', 'EDF']

for method in METHOD_NAMES:
    print(f'{method} ave: {sum(earlier_time_dict[method])/len(earlier_time_dict[method])}')
    print(f'{method} max: {max(earlier_time_dict[method])}')

proposed ave: 60.27837259100642
proposed max: 115
Igarashi ave: 31.01364522417154
Igarashi max: 164
Saidi ave: 3528.6637426900584
Saidi max: 10680
EDF ave: 27.28460038986355
EDF max: 115